@use "../abstracts" as *;

:root {
  --font-nb-pro: #{$font-nb-pro};
  --font-nb-pro-mono: #{$font-nb-pro-mono};
}

body,
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chart-container {
  width: 100%;
  /* max-width: 900px;
  margin: 0 auto; */
}
